@model IEnumerable<LinkShortener.ViewModels.LinkViewModel>

@{
    
}

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Long_Link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Short_Link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@if(Model != null)
    foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Long_Link)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Short_Link)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
    </tbody>
</table>
