@model IEnumerable<LinkShortener.ViewModels.LinkViewModel>

@{
    
}

<p>
    <a class="btn btn-primary" asp-action="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Long_Link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Short_Link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RedirectCount)
            </th>
        </tr>
    </thead>
    <tbody>
@if(Model != null)
    foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Long_Link)
            </td>
            <td>
                @Html.RouteLink(item.Short_Link, "specific", new {path = item.Short_Link}, new {target="_blank"})
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RedirectCount)
            </td>
            <td>
                @Html.ActionLink("Изменить", "Update", new { id = item.Link_ID }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Link_ID })
            </td>
        </tr>
    }
    </tbody>
</table>
